@font-face {
    font-family: "angry";
    src: url(../fonts/Angry.ttf);
   }

@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
  url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
    font-family: "OfficinaSerifBold";
    src: url("../fonts/OfficinaSerifBold/OfficinaSerifBold.eot");
    src: url("../fonts/OfficinaSerifBold/OfficinaSerifBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OfficinaSerifBold/OfficinaSerifBold.woff") format("woff"),
    url("../fonts/OfficinaSerifBold/OfficinaSerifBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
  margin:0;
  padding: 0;
  text-decoration: none;
  font-family: MyriadProRegular;
  list-style: none;
}

a {
  transition: all 0.2s ease 0s;
}

.wrap {
  min-width: 1200px;
  margin: 0 auto;
}

.center {
  position: relative;
  margin: 0 auto;
  width: 1200px;
}

header {
  width: 100%;
  text-align: center;

}

header a {
    display: inline-block;
    position: relative;
    color: #000;
    font-size: 20px;
    margin-right: 20px;
    margin-top: 11px;
}

header a:hover {
  color: #ffcc66;
}

header .fa-2x {
  position: absolute;
  top: -11px;
  left: -28px;
}


.btn {
  background: #ffcc3b;
  background-image: -webkit-linear-gradient(top, #ffcc3b, #ffab3b);
  background-image: -moz-linear-gradient(top, #ffcc3b, #ffab3b);
  background-image: -ms-linear-gradient(top, #ffcc3b, #ffab3b);
  background-image: -o-linear-gradient(top, #ffcc3b, #ffab3b);
  background-image: linear-gradient(to bottom, #ffcc3b, #ffab3b);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #000;
  border-top: solid #fca335 2px;
  border-right: solid #ffce3b 2px;
  border-bottom: solid #ffbe3b 2px;
  border-left: solid #ffa63b 2px;
  text-decoration: none;
}

.btn:hover {
  background: #ffab3b;
  background-image: -webkit-linear-gradient(top, #ffab3b, #ffcc3b);
  background-image: -moz-linear-gradient(top, #ffab3b, #ffcc3b);
  background-image: -ms-linear-gradient(top, #ffab3b, #ffcc3b);
  background-image: -o-linear-gradient(top, #ffab3b, #ffcc3b);
  background-image: linear-gradient(to bottom, #ffab3b, #ffcc3b);
  text-decoration: none;
  color: #111;
}

header .btn {
  padding: 3px 14px;
  font-size: 19px;
  margin-top: 0;
}

.navigation {
  height: 450px;
  text-align: center;
  background:  url(../img/bg.png) center no-repeat;
  background-size: 100% 100%;
}

.navigation img {
  position: absolute;
  z-index: 5;
  left: 75px;
  top: 50px;
}

 nav {
  position: relative;
  z-index: 10;
  margin-top: 5px;
}

 nav ul {
  width: 100%;
  margin: 0 auto;
  background: #ffce3b;
}

 nav li {
  display: inline-block;
}

 nav li a {
  position: relative;
  display: block;
  color: #000;
  font-weight: bold;
  padding: 8px 15px;
  font-size: 23px;
  margin-top: 0;
  margin-right: 0;
}

 nav li a:hover {
  color: #fff;
}

 nav li:first-child a {
  margin-left: 20px;
}

 nav li:last-child a {
  margin-right: 12px;
}

 nav li a::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 100%;
  right: -3px;
  height: 20px;
  background: #000;
}

 nav li:last-child a::after {
  right: 0;
}

.navigation h1 {
  font-family: angry;
  font-size: 58px;
  color: #fb8200;
  margin-left: 300px;
  padding-top: 55px;
  text-shadow: 3px 3px 2px rgba(100, 100, 100, 1);
}

.navigation h2 {
  font-size: 30px;
  margin-left: 300px;
}

.navigation .btn {
  position: relative;
  left: 160px;
  top: 20px;
  font-size: 38px;
  padding: 12px 40px;
  border-width: 4px;
}

.promo {
  position: relative;
  background-color: #e0e0e0;
  background: url(../img/bgpromo.jpg) repeat-x;
  height: 344px;
  text-align: center;
}

.promo .center {
  position: relative;
  background: url(../img/promo.jpg) center no-repeat;
  height: 100%;
}

.promo h3 {
  font-size: 30px;
  padding-left: 120px;
  padding-right: 110px;
  padding-top: 100px;
  font-weight: normal;
}

.promo span {
  display: block;
  color: #fff;
  font-size: 79px;
}

.promo-block {
  position: absolute;
  right: 65px;
  background: url(../img/promo-cont.png) center no-repeat;
  width: 585px;
  height: 100%;
}

.delivery {
  height: 146px;
  background-color: #b6f1ff;
}

.delivery p {
  display: inline-block;
  font-size: 30px;
  margin-left: 132px;
  padding: 55px 0;
}

.delivery .btn {
  font-size: 37px;
  margin-left: 40px;
  padding: 12px 30px;
  border-width: 4px;
}

.description {
  position: relative;
  height: 405px;
}

.description h3 {
  font-size: 30px;
}

.description p {
  font-size: 14px;
  color: #757575;
}

.description img {
  float: left;
}

.description .description-text {
  margin-top: 80px;
  margin-left: 35px;
  max-width: 460px;
  float: left;
}

.hex-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 220px;
  background:url(../img/hex.png) no-repeat;
}

.reviews {
  background-color: #98F1FF;
}

.reviews .center {
  height: 100%;
  background: url(../img/bluehex.jpg);
  text-align: center;
}

.reviews h3 {
  font-size: 30px;
  padding-top: 30px;
}

.reviews .photo {
  float: left;
  width: 233px;
  height: 201px;
  margin-top: 30px;
}

.review-block {
  position: relative;
  float: left;
  width: 563px;
  min-height: 250px;
  overflow: hidden;
  margin-right: 40px;
  margin-left: 205px;
}

.review-width {
  position:relative;
  transition:1s;
}

.reviewer {
  float: left;
  width: 768px;
  height: 250px;
  text-align: left;
}

.reviews-comment {
  text-align: left;
  float: left;
  margin-left: 25px;
  margin-top: 45px;
  width: 305px;
  height: 175px;
  background-color: #fff;
}

.reviews-comment p {
 color: #757575;
 font-size: 14px;
 padding: 18px 14px;
 }

 .reviews-comment span {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  padding: 18px 14px;
  }

 .reviews-comment span  img {
   margin: 0;
   float: none;
   position: relative;
   top: 5px;
   right: -5px;
 }

 .reviews a {
   display: block;
   padding-top: 80px;
   color: #000;
 }

 .reviews .black-arrow:hover {
   width: 88px;
   height: 76px;
   background-position: -5px -508px;
 }

.catalog {
  text-align: center;
}

.catalog h3 {
  font-size: 30px;
  padding-top: 30px;
}

.catalog .cat-description {
  font-size: 14px;
  color: #757575;
  padding: 0 140px;
  padding-top: 26px;
}

.items {
  margin: 0 173px;
  margin-top: 15px;
  }

.item {
  position: relative;
  display: inline-block;
  width: 23%;
  min-height: 410px;
  margin-right: 1%;
  vertical-align: top;
}

.item:last-child {
  margin-right: 0;
}

.item .i-name {
  color: #fb8200;
  font-size: 14px;
  font-weight: bolder;
}

.item .i-price {
  margin-bottom: 10px;
}

.item .i-sign {
  font-size: 11px;
  font-weight: bold;
  text-align: left;
  padding: 0 15px;
}

.item .i-sign span {
  color: #565656;
  font-weight: normal;
}

.item .btn {
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  padding: 5px 25px;
  width: 40%;
}

.to-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.how-to {
  position: relative;
  margin-top: 80px;
  height: 283px;
  background: url(../img/yellowhex.jpg);
  background-size: cover;
  text-align: center;
}

.how-to h3 {
  font-size: 30px;
  padding-top: 40px;
}

.how-to p {
  font-size: 30px;
  font-weight: bolder;
  padding-top: 5px;
}

.how-to .buy {
  position: relative;
  display: inline-block;
  margin-top: 35px;
  margin-right: 100px;
}

.flower-left {
  position: absolute;
    top: 20px;
    left: 0;
    height: 340px;
    width: 160px;
    background: url(../img/flower-left.png) no-repeat;
}

.flower-right {
  position: absolute;
    top: -20px;
    right: 0;
    height: 340px;
    width: 160px;
    background: url(../img/flower-right.png) no-repeat;
}

.profit {
  height: 488px;
  text-align: center;
}

.profit .center {
  position: relative;
  width: 1135px;
  height: 488px;
  background: url(../img/profbg.png);
}

.profit h3 {
  font-size: 30px;
  padding-top: 20px;
  margin-top: 10px;
}

.profit p{
  display: inline-block;
  font-weight: 14px;
  text-align: left;
  color: #757575;
  max-width: 164px;
  border: 2px solid #f6d166;
  padding: 10px 10px;
}

.profit-1 {
  position: absolute;
  top: 108px;
  left:188px;
}

.profit-2 {
  position: absolute;
  top: 228px;
  left:188px;
}

.profit-3 {
  position: absolute;
  top: 108px;
  right:172px;
}

.profit-4 {
  position: absolute;
  top: 228px;
  right:172px;
}

.profit-5 {
  position: absolute;
  bottom: 48px;
  right: 412px;
}

.order {
  height: 365px;
  background:  url(../img/orderbg.jpg) no-repeat;
  background-size: cover;
}


.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(225, 168, 10, 0.47);
}

.order h2{
  width: 34%;
  padding-top: 60px;
  text-align: right;
  font-weight: bolder;
  font-size: 66px;
  color: #fff;

}

.order-form {
  position: absolute;
  top: 50px;
  right: 105px;
  width: 435px;
  height: 260px;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.55);
}

.order input[type="text"] {
  width: 72%;
  height: 45px;
  margin: 5px 0;
  margin-left: 36px;
  padding: 0 21px;
}

.order .btn {
  position: absolute;
  bottom: 30px;
  left: 150px;
  padding: 5px 12px;
}

footer {
  width: 100%;
  height: 71px;
  text-align: center;
  background-color: #ffb03b;

}

footer a {
    display: inline-block;
    position: relative;
    color: #000;
    font-size: 20px;
    margin-right: 20px;
    margin-top: 25px;
}

footer a:hover {
  color: #fff;
}

footer .fa-2x {
  position: absolute;
  top: -11px;
  left: -28px;
}

footer .btn {
  padding: 3px 14px;
  font-size: 19px;
  margin-top: 0;
  background: #fff;
}

footer .btn:hover {
  background: #ddd;
}

.modal-call {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  width: 659px;
  height: 657px;
  text-align: center;
  background: url(../img/modal-call.png) no-repeat;
  display: none;
}

.modal-order {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  width: 659px;
  height: 657px;
  text-align: center;
  background: url(../img/modal-order.png) no-repeat;
  display: none;
}

.modal-order .btn {
  display: block;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, 0);
}

.modal p {
  font-size: 44px;
  padding-top: 40px;
  font-weight: bolder;
}

.modal input[type="text"] {
  font-size: 16px;
  width: 67%;
  height: 60px;
  margin: 10px 0;
  padding: 0 21px;
}

.modal textarea {
  display: block;
  width: 67%;
  margin: 0 auto;
  margin-top: 15px;
  padding: 20px 21px;
}

.modal .btn {
  margin-top: 20px;
  padding: 5px 12px;
}

.modal .btn {
  background: #69c53b;
  background-image: -webkit-linear-gradient(top, #69c53b, #3f953b);
  background-image: -moz-linear-gradient(top, #69c53b, #3f953b);
  background-image: -ms-linear-gradient(top, #69c53b, #3f953b);
  background-image: -o-linear-gradient(top, #69c53b, #3f953b);
  background-image: linear-gradient(to bottom, #69c53b, #3f953b);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff;
  font-size: 32px;
  padding: 10px 20px 10px 20px;
  border-top: solid #60bc3b 2px;
  border-right: solid #56b03b 2px;
  border-bottom: solid #72d13b 2px;
  border-left: solid #60bc3b 2px;
}

.modal .btn:hover {
  background: #3f953b;
  background-image: -webkit-linear-gradient(top, #3f953b, #69c53b);
  background-image: -moz-linear-gradient(top, #3f953b, #69c53b);
  background-image: -ms-linear-gradient(top, #3f953b, #69c53b);
  background-image: -o-linear-gradient(top, #3f953b, #69c53b);
  background-image: linear-gradient(to bottom, #3f953b, #69c53b);
}

/*------------------------------------------------------------------------------------*/
/*-----------------------------item.html----------------------------------------------*/
/*------------------------------------------------------------------------------------*/

.item-card {
  margin-top: 62px;
}

.left-side {
  width: 48%;
  float: left;
  padding-right: 28px;
  border-right: 1px dashed #7f7f7f;
}

.itm-image {
  float: right;
  margin-left: 50%;
  border-bottom: 1px dashed #7f7f7f;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.i-border {
  border: 2px solid #d1d1d1;
  border-radius: 5px;
}

.current {
  border-color: #ffbb3b;
}

.itm-image-small {
  margin-top: 18px;
}

.itm-image-small img {

}

.itm-image-small-item {
  display: inline-block;
  width: 86px;
  margin-right: 10px;
  cursor: pointer;
}

.itm-image-small-item p {
  font-weight: bold;
  font-size: 13px;
  color: #383838;
}

.itm-options {
  float: right;
  width: 310px;
  margin-left: 50%;
  margin-right: 65px;
  margin-bottom: 25px;
}

.itm-options a {
  font-size: 16px;
  padding: 8px 36px;
  margin-right: 15px;
}

.opt-btn {
  background: #f0f0f0;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #000;
  text-decoration: none;
  background-image: -webkit-linear-gradient(top, #f0f0f0, #dbdbdb);
  background-image: -moz-linear-gradient(top, #f0f0f0, #dbdbdb);
  background-image: -ms-linear-gradient(top, #f0f0f0, #dbdbdb);
  background-image: -o-linear-gradient(top, #f0f0f0, #dbdbdb);
  background-image: linear-gradient(to bottom, #f0f0f0, #dbdbdb);
  border: solid #c7c7c7 2px;
}

.active {
  background: #ffcc3b;
  background-image: -webkit-linear-gradient(top, #ffcc3b, #ffab3b);
  background-image: -moz-linear-gradient(top, #ffcc3b, #ffab3b);
  background-image: -ms-linear-gradient(top, #ffcc3b, #ffab3b);
  background-image: -o-linear-gradient(top, #ffcc3b, #ffab3b);
  background-image: linear-gradient(to bottom, #ffcc3b, #ffab3b);
  border: solid #fca335 2px;
}

.itm-opisanie {
  float: right;
  display: none;
}

.itm-opisanie-block {
  width: 375px;
}

.itm-opisanie-block p {
  font-size: 13px;
  color: #383838;
  padding-bottom: 22px;
}

.itm-opisanie-block h3 {
  font-size: 16px;
  color: #383838;
  padding-bottom: 5px;
}

.itm-use li {
  display: inline-block;
  width: 48%;
}

.itm-use li span {
  color: #383838;
  font-size: 13px;
  position: relative;
  top: -15px;
}

.itm-otziv {
  display: none;
  float: right;
  margin-right: 38px;
}

.itm-otziv-block p {
  color: #383838;
  font-size: 13px;
}

.itm-otziv h3 {
  font-size: 16px;
  color: #383838;
  padding: 10px 0;
}

.itm-otziv input[type="text"] {
  width: 300px;
  display: block;
  margin-bottom: 15px;
  padding: 12px 16px;
}

.itm-otziv .btn {
  padding: 8px 12px;
  font-size: 16px;
}

.right-side {
  width: 47%;
  float: left;
  padding-left: 28px;
}

.itm-description {
  border-bottom: 1px dashed #7f7f7f;
  padding-bottom: 22px;
  width: 45%;
}

.itm-description h2 {
  color: #fb8200;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.artikul,
.availabel {
  color: #383838;
  font-size: 13px;
  margin-bottom: 10px;
}

.price {
  font-size: 33px;
  font-weight: bold;
  margin-bottom: 20px;
}

.price span {
  font-size: 14px;
}

.itm-count {
  margin-bottom: 30px;
}

.itm-count p {
  font-size: 13px;
  color: #383838;
  margin-bottom: 10px;
}

.itm-count span {
  display: inline-block;
  font-size: 21px;
  color: #303030;
}

.itm-count .minus,
.itm-count .plus {
  font-size: 17px;
  border: 1px solid #b2b2b2;
  border-radius: 50%;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  box-shadow: inset 0 0 15px #aaa;
}

.minus {
  padding: 3px 11px;
}

.plus {
  padding: 3px 8px;
}

.minus:hover,
.plus:hover {
  color: #f4ae00;
}

.count {
  margin-left: 15px;
  border: none;
  font-size: 21px;
}

.buy-btn {
  display: block;
  padding-top: 45px;
  color: #000;
}

.itm-social {
  padding-top: 20px;
  border-bottom: 1px dashed #7f7f7f;
  padding-bottom: 22px;
  width: 45%;
}

.itm-social p {
  font-size: 13px;
  color: #383838;
  margin-bottom: 20px;
}

.social-block {
  margin-top: 20px;
}

.social-block-container {
  width: 158px;
}

.social-block a{
  display: inline-block;
  width: 28px;
  height: 28px;
  transition: none;
}

.itm-tags {
  margin-top: 20px;
  width: 45%;
  border-bottom: 1px dashed #7f7f7f;
  padding-bottom: 20px;
}

.itm-tags p {
  font-size: 13px;
  color: #383838;
  margin-bottom: 15px;
}

.tag-block {
  width: 120%;
}

.itm-tags a {
  font-size: 13px;
  display: inline-block;
  padding: 2px 4px;
  margin: 1px;
}

.itm-recomend {
  margin-top: 20px;
  width: 540px;
}

.itm-recomend h3 {
  margin-bottom: 30px;
}

.itm-recomend-item {
  display: inline-block;
  width: 90px;
  vertical-align: top;
  margin-right: 15px;
}

.itm-recomend-item p {
  font-size: 13px;
  font-weight: bold;
  color: #383838;
}

/*------------------------------------------------------------------------------------*/
/*-----------------------------landing.html-------------------------------------------*/
/*------------------------------------------------------------------------------------*/
.landing p,
.landing h3,
.landing span,
.landing h2,
.landing strong{
  font-family: OfficinaSerifBold;
}

.block-1 {
  position: relative;
  z-index: 5;
  text-align: center;
  color: #fff;
  background: url(../img/block-1-bg.png) center bottom no-repeat;
  background-size: cover;
  }

.block-1 h2 {
  font-size: 40px;
  padding-top: 45px;
  margin-bottom: 15px;
}

.block-1 p {
  width: 50%;
  font-size: 22px;
  margin: 0 auto;
}

.block-1 img {
  margin-top: 20px;
  margin-bottom: 60px;
}

.block-2 {
  position: relative;
  z-index: 1;
  top: -50px;
  height: 472px;
  background: url(../img/block-2-bg.png) center center no-repeat;
  background-size: cover;
  padding-top: 50px;
  margin-bottom: -50px;
}

.block-2 h2 {
  position: absolute;
  z-index: 2;
  top: -25px;
  left: 90px;
  font-size: 30px;
  color: #3d3d3d;
  padding: 5px;
  background-color: #FFFFD6;
}

.block-2 p {
  color: #3d3d3d;
  border: 5px solid #ffc300;
  padding: 15px;
}

.block-2 .container {
  position: absolute;
  top: 40%;
  left: 45%;
  width: 440px;
  height: 1px;
}

.block-3 {
  position: relative;
  z-index: 5;
  height: 472px;
  background: url(../img/block-3-bg.png) center bottom no-repeat;
  background-size: cover;
  color: #fff;
}

.block-3 h2 {
  text-align: center;
  z-index: 2;
  font-size: 30px;
  padding: 5px;
  padding-top: 200px;
  margin-bottom: -15px;
}

.block-3 h2::before {
  content: '';
  position: absolute;
  z-index: 5;
  top: 225px;
  left: 220px;
  right: 725px;
  height: 5px;
  background: #aaff00;
}

.block-3 h2::after {
  content: '';
  position: absolute;
  z-index: 5;
  top: 225px;
  left: 725px;
  right: 220px;
  height: 5px;
  background: #aaff00;
}

.block-3 p {
  margin: 0 auto;
  width: 60%;
  border: 5px solid #aaff00;
  border-top: none;
  padding: 15px;
}

.block-4 {
  position: relative;
  z-index: 4;
  top: -50px;
  padding-top: 100px;
  margin-bottom: -50px;
  background: url(../img/block-4-bg.png) center bottom no-repeat;
  background-size: cover;
  color: #17372d;
}

.block-4-gradient {
  position: absolute;
  width: 100%;
  height: 375px;
  background: linear-gradient(0deg, rgba(123,240,249,1) 0%, rgba(0,128,128,0) 100%);
  /*background-image: linear-gradient(to top, #7bf0f9);*/
}

.block-4 strong {
  font-size: 30px;
}

.block-4 p {
  text-align: center;
  padding-bottom: 20px;
  font-size: 25px;
}

.block-4 .pgreen {
  color: #7ec850;
}

.block-4-item {
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding: 2%;
  width: 19%;
  margin-bottom: 25px;
}

.block-4-item a{
  position: absolute;
  top: -250px;
  padding-bottom: 250px;
  display: block;
  height: 100%;
  width: 100%;
}

.block-4-item h3{
  font-size: 20px;
  padding-bottom: 8px;
}

.block-4-item p{
  font-size: 13px;
  color: #6d6d6d;
  text-align: left;
}

.landing .promo {
  top: -50px;
  margin-bottom: -50px;
}

.landing .promo a{
  position: relative;
  top: 30px;
  left: 10px;
  padding: 8px 16px;
}

.block-5 {
  position: relative;
  height: 410px;
  z-index: 4;
  background: url(../img/block-5-bg.png) center bottom no-repeat;
  background-size: cover;
  color: #fff;
}

.block-5 img{
  position: absolute;
  top: 34px;
  left: 295px;
}

.block-2 h2 {
  position: absolute;
  z-index: 2;
  top: -25px;
  left: 90px;
  font-size: 30px;
  color: #3d3d3d;
  padding: 5px;
  background-color: #FFFFD6;
}

.block-2 p {
  color: #3d3d3d;
  border: 5px solid #ffc300;
  padding: 15px;
}

.block-5 .container,
.block-6 .container {
  position: absolute;
  top: 27%;
  left: 55%;
  width: 415px;
  height: 1px;

}

.block-5 h3,
.block-6 h3 {
  position: absolute;
  top: -25px;
  left: 55px;
  z-index: 2;
  font-size: 28px;
  padding: 5px;
  background-color: #666666;
}

.block-5 p,
.block-6 p {
  font-size: 22px;
  border: 5px solid #ffc300;
  padding: 15px;
}

.block-5 a,
.block-6 a {
  position: absolute;
  font-size: 24px;
  top: 55%;
  left: 61%;
  padding: 15px;
}

.block-6 {
  position: relative;
  z-index: 3;
  color: #17372d;
  height: 310px;
}

.block-6 h3 {
  background-color: #fff;
  left: 160px;
}

.block-6 p {
  text-align: center;
}

.block-6 a {
  top: 62%;
}

.block-6 img {
  position: absolute;
  left: 22%;
}















/*----------------------------РЕЙТИНГ-------------------------------------------*/
/*sprite with stars*/
#reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
  background: url('../img/rating.png') no-repeat;
}

#reviewStars-input {

  /*fix floating problems*/
  overflow: hidden;
  *zoom: 1;
  /*end of fix floating problems*/

  position: relative;
  float: left;
}

#reviewStars-input input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;

  width: 18px;
  height: 16px;

  position: absolute;
  top: 0;
  z-index: 0;
}

#reviewStars-input input:checked ~ label {
  background-position: 0 0;
  width: 18px;
  height: 16px;
}

#reviewStars-input label {
  background-position: -18px 0;
  width: 18px;
  height: 16px;
  float: right;
  cursor: pointer;
  margin-right: 10px;

  position: relative;
  z-index: 1;
}

#reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
  background-position: 0 0;
  width: 18px;
  height: 16px;
}

#reviewStars-input #star-0 {
  left: 0px;
}
#reviewStars-input #star-1 {
  left: 28px;
}
#reviewStars-input #star-2 {
  left: 56px;
}
#reviewStars-input #star-3 {
  left: 84px;
}
#reviewStars-input #star-4 {
  left: 112px;
}
#reviewStars-input #star-5 {
  left: 140px;
}
/*------------------------------------------------------------------------------*/
.clear::after {
  content: "";
  display: table;
  clear: both;
}

.spriteYellow::before {
    content: '';
    width: 50px;
    height: 50px;
    background-image: url(../img/spritesheet2.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.y-1::before {
    width: 50px;
    height: 50px;
    background-position: 0 0;
}

.y-2::before {
    width: 50px;
    height: 50px;
    background-position: 0 -50px;
}

.y-3::before {
    width: 50px;
    height: 50px;
    background-position: 0 -100px;
}

.y-4::before  {
    width: 50px;
    height: 50px;
    background-position: 0 -150px;
}

.y-5::before {
    width: 50px;
    height: 50px;
    background-position: 0 -200px;
}

.y-6::before  {
    width: 50px;
    height: 50px;
    background-position: 0 -250px;
}

.y-7::before  {
    width: 50px;
    height: 50px;
    background-position: 0 -300px;
}

.y-8::before  {
    width: 60px;
    height: 60px;
    background-position: 0 -350px;
}

.social-sprite {
    background-image: url(../img/social-sprites.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.goo {background-position: -4px -4px;}
.tw {background-position: -33px -4px;}
.mail {background-position: -62px -4px;}
.fb {background-position: -90px -4px;}
.rss {background-position: -118px -4px;}
.vk {background-position: -4px -34px;}
.mru {background-position: -33px -34px;}
.ya {background-position: -62px -34px;}
.pen {background-position: -90px -34px;}
.odn {background-position: -118px -34px;}


.goo:hover {background-position: -4px -69px;}
.tw:hover {background-position: -33px -69px;}
.mail:hover {background-position: -62px -69px;}
.fb:hover {background-position: -90px -69px;}
.rss:hover {background-position: -118px -69px;}
.vk:hover {background-position: -4px -99px;}
.mru:hover {background-position: -33px -99px;}
.ya:hover {background-position: -62px -99px;}
.pen:hover {background-position: -90px -99px;}
.odn:hover {background-position: -118px -99px;}

.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.truck {
    position: relative;
    top: 25px;
    margin-left: 48px;
    width: 134px;
    height: 94px;
    background-position: -5px -5px;
}

.prof-smile {
    width: 69px;
    height: 60px;
    background-position: -5px -109px;
}

.black-arrow {
    position: relative;
    top: 100px;
    right: 150px;
    width: 88px;
    height: 76px;
    background-position: -5px -179px;
}

.how-to .buy::after {
    position: absolute;
    right: -78px;
    top: 77px;
    content: '';
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 54px;
    height: 23px;
    background-position: -5px -265px;
}

.how-to .buy:last-child::after {
  display: none;
}

.prof-bag {
    width: 70px;
    height: 60px;
    background-position: -5px -298px;
}

.prof-truck {
    width: 70px;
    height: 60px;
    background-position: -5px -368px;
}

.prof-cart {
    width: 70px;
    height: 60px;
    background-position: -5px -438px;
}

.yellow-arrow {
    width: 88px;
    height: 76px;
    background-position: -5px -508px;
}

.sprite-yellcart {
    width: 44px;
    height: 43px;
    background-position: 0 -589px;
}


.sprite-yellcart:hover {
    width: 44px;
    height: 43px;
    background-position: 0 -632px;
}

.show {
  display: block;
}
